.articleDiv{
  flex-direction: row;
  margin:  1.5rem 6rem 0 6rem;
  font-size: 1.05rem;
}
.textArticleDiv > h1{
  font-size: 3rem;
}
.textArticleDiv > p{
  font-size: 1.05rem;
  line-height: "190%";
}

@media (max-width: 1024px) {
  .articleDiv{
    flex-direction: column;
    margin: 1rem 4rem 0 4rem;
  }
  .textArticleDiv > p{
    font-size:  1rem;
    line-height: "140%";
  }

  .textArticleDiv > h1{
    font-size: 2.5rem;
  }
}

@media (max-width: 764px) {
  .articleDiv{
    margin: 0.5rem 1rem 0 1rem;
    font-size: 0.85rem;
  }
  
  .textArticleDiv > p{
    font-size:  0.85rem;
    line-height: "135%";
  }
  .textArticleDiv > h1{
    font-size: 2rem;
  }
  
}